*{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #707070;
}

body {
    background-color: #f5f5f5;
}

.wrapper {
    width: 1140px;
    margin: 0 auto;
    box-shadow: 10px 10px 40px -1px rgba(153, 185, 223, 0.19);
}


header {
    padding: 20px 0;
    background-color: #E5F1FF;
}

.menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item:hover {
    text-shadow: 1px 1px 2px black;
}


.nav-item a {
    text-decoration: none;
}

.two-coloms {
    display: flex;
}

.left-colom {
    width: 35%;
    background-color: #afcef1;
    padding-left: 20px;
    padding-right: 20px;
    z-index: -2;
}

.right-colom {
    width: 65%;
    background: #E5F1FF;
    padding: 60px 60px 0;
    
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;  
    color: #0067DE;  
    text-align: center;
}

h1 span {
    color: #363636;
    font-style: normal;
    font-size: 65px;
    font-weight: 400;
}

h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #0067DE;
}
.photo {
    display: block;
    border: 5px solid #0067DE;
    border-radius: 50%;
    margin: 50px auto;
}

.about-logo, .contact-logo, .lang-container {
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.about-text {
    padding-left: 100px;
}

.circle {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #0067DE;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 30px;
}

.about-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #707070;

}

.contacts ul {
    margin-left: 40px;    
}

.rectangle {
    height: 170px;
    width: 50px;
    background-color: #0067DE;
    position: absolute;
    border-radius: 35px;
    z-index: -1;
    margin-top: 5px;
    margin-left: 30px;
}

.phone {
    list-style-image: url(assets/img/icons8-telephone.png);
    padding-left: 20px;
}

.e-mail {
    list-style-image: url(assets/img/icons8-email.png);
    padding-left: 20px;
}

.telegram {
    list-style-image: url(assets/img/icons8-telegramm.svg);
    padding-left: 20px;
}

.discord {
    list-style-image: url(assets/img/icons8-discord.svg);
    padding-left: 20px;
}

.language ul {
    margin-left: 40px;
}

.language li {
    padding-left: 20px;
    margin-top: 10px;
}

.name {
    margin-bottom: 122px;
}
.prof {
    color: #363636;
    font-size: 45px;
    font-weight: 400;
}


.courses, .work-expirience, .code {
    margin-top: 70px;
}
.skills ul {
    margin-left: 30px;
    vertical-align: middle;
    position: relative;
}

.HTML-skill {
    list-style-image: url(assets/img/icons8-html-5.svg);
    padding-left: 20px;
    position: relative;
}

.CSS-skill {
    list-style-image: url(assets/img/icons8-css3.svg);
    padding-left: 20px;
}

.JS-skill {
    list-style-image: url(assets/img/icons8-javascript.svg) ;
    padding-left: 20px; 
}

.Git {
    list-style-image: url(assets/img/icons8-github.svg) ;
    padding-left: 20px;
    margin-top: 10px;
}

.courses li {
    padding-left: 20px;
    margin-top: 10px;
}

.courses a {
    text-decoration: none;
}

.courses a:hover {
    text-shadow: 1px 1px 2px black;
}

.cv a {
    text-decoration: none;
}

.cv a:hover {
    text-shadow: 1px 1px 2px black;
}

footer {
    display: flex;
    background-color: #afcef1;
    padding: 10px 60px;
    justify-content: space-between;
}

.my-github {
    display: flex;
    text-decoration: none;
}

.rsschool {
    display: flex;
}

